---
const {data} = Astro.props;
console.log(data);
---

<article class="singleview-grid">
    <div class="imgwrapper">
    <img src={`/${data.image}`} alt=""></img>
      <div class="text-overlay">
        <h3>{data.place}</h3>
        <h2>{data.name}</h2>
      </div>
    </div>



<div class="exhibit_information">
        <h1> {data.artist} </h1>
         <h3> {data.description} </h3>
</div>
</article>
          

<style>
  .singleview-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10%;
    margin-top: 40px;
  }

  .exhibit_information
   {
    position: relative; /* Ensure the image wrapper is a positioned container */
    height: 200px;
  }

  .imgwrapper {
    position: relative; /* Ensure the image wrapper is a positioned container */
    height: 200px;
  }
  
  img {
    object-fit: cover;
    width: 600px;
  }

  h2, h3 {
    margin: 0; /* Remove default margin */
   /* text-align: center; /* Center align text within the overlay */
  }
  h1 {
	font-size: 2rem;
  }
  h3 {
	font-size: 0.8rem;
  }
    h2 {
	font-size: 1.2rem;
  }
  @media (max-width: 753px) {
    .text-overlay{
      padding: 5px;
    }
h3{
  font-size: 0.43rem;

}
h2{
font-size: 0.6rem;
}

  }

main {
    max-width: 1200px;
    margin: 0 auto;
  }
  img {
  max-width: 100%;

  height: auto;
}



 .imgwrapper {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.text-overlay {
    position: absolute; 
    top: 90; 
    bottom: 0; 
    color: white; 
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: left;
    padding: 5px;
  }
  .imgwrapper {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.imgwrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Fill the entire imgwrapper while maintaining aspect ratio */
  object-position: center; /* Center the image within the imgwrapper */
}




     </style>
